html {
  position: relative;
  overflow-x: hidden;
  background-color: black;

  &::before {
    content: '';
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: url(/bg.jpg) no-repeat center/cover;
    filter: blur(10px);
    z-index: -1;
  }
}

html,
body {
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 8px;
}
